.App {
  text-align: center;
}
.nav {
  position: absolute;
  top: 50%;
  width:4vw;
  height:4vw;
  cursor: pointer;
}
.nav:hover{
  opacity: 0.5;
}
.nav--prev{
  left: 4vw;
  border-top: 4px solid black;
  border-left: 4px solid black;
  transform : translate(0,-50%)rotate(-45deg);
}
.nav--next{
  right: 4vw;
  border-top: 4px solid black;
  border-right: 4px solid black;
  transform : translate(0,-50%)rotate(45deg);
}
.slides{
  width: 100%;
  height: 100vh;
  position: relative;
}
.slide{
  position: absolute;
  top: 0;
  left:50%;
  transform: translate(-50%,0);
  width: 70vw;
  height: 100%;
  opacity: 0;
}
.slide--current{
  opacity: 1;
}
.slide__img{
  width: 100%;
  height: 100%;
  background-size: cover;
}
.slide__cover{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 2;
}
.slide__cover__slide{
  background-color: #fff;
  flex : 1;
}